$general-font: arial, sans-serif;
$mainColor: #393a89;
$secondColor: #161635;
$thirdColor: #397c89;
$backgroundColor: #ffffff;
$largerfont: 64px;
$largefont: 48px;
$mediumfont: 32px;
$smallfont: 20px;
